  @import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Nunito;
    color: aqua;
}
header{
    width: 100%;
    height: 100vh;
    background-color: cyan;
    position: relative;
    overflow: hidden;
}
.video{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
height: 100vh;
object-fit: fill;

}
nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background: blueviolet; */
    width: 100%;
    height: 100px;
    background-color: #3d322f7d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
   
}
.social-links i{
    margin: 0 7px;
}
.nav-links a{
    background: #733c22aa;
    padding: 7px 12px;
    border-radius: 5px;
    margin: 0 5px;
    color: #cda980;
    box-shadow: inset 0 0 3px #cfbba5a2;
}
.nav-links a:hover{
    color: white;
    transition: 0.5s;
    box-shadow: inset 0 0 3px #e27c10;
}
