@media(max-width:600px){
    nav{
        padding: 30px;
    }
    #bars {
        display: block;
    }
    .social-links{
        display: none;
    }

    .emoji-1{
        display: none;
    }
        .emoji-2 {
            display: none;
        }
        .nav-links {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            background: var(--black-color);
            padding: 35px 50px;
            /* display: none; */
            transform: translatex(-150%);
            transition: 0.9s;
    
        }
        .show{
            /* display: block; */
            transform: translate(0%);
        }
    .nav-links a{
        display: block;
        text-align: center;
        margin-bottom:15px;
    }
    .nav-links :last-child{
        margin-bottom: 0;
    }
        
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 0px 40px;
}

.about {
    background: url(./img/ph-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* About section  */

.about-img-desc-containner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.about-img-container,
.about-ocean-description {
    flex: 1;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fish-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about-ocean-description {
    background-color: #fee49791;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;

}

.about-title {
    font-size: 3rem;
    margin: 20px 0;
}

.product {
    background: url(./img/ph-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact {
    background: url(./img/ph-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.service {
    background: url(./img/ph-3.jpg
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service-card{
   /* width: 200px; */
   height: 300px;
    background-color: rgba(0, 255, 255, 0.56);
    flex: 1 1 22rem;
    position: relative;
    overflow: hidden;

}

.service-img,
.service-info {
    position: absolute;
    inset: 0;
}
.service-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    backdrop-filter: blur(3px);
    /* transform: scale(0); */
    transform: translateY(-100%);
   
}
.service-card:hover .service-info {
    background-color:#c5aa8f91 ;
    /* transform: scale(1); */
    transform: translate(0%);
    transition: 0.5s;
    font-size: 2rem;

}
.service-info *{
    color: white;
}

.service-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}