*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.app{
    margin: auto;
    background-color: cyan;
    width: 400px;
    height: 200px;
}
@media(min-width:576px){
    .app{
   
         width: 530px;
         background-color: red;
    }
}
@media(min-width:768px){
    .app{
        background-color: greenyellow;
        width: 730px;
    }
}
@media(min-width:992px){
    .app{
        background-color: brown;
        width: 962px;
        font-size: 30px;
    }
}
@media(min-width:1200px){
   .app{
    background-color: black;
    width: 90%;
    color: white;
   }
}
@media(min-width:1400px) {
    .app {
        background-color: red;
        width: 85%;
        color: white;
    }
}